extends layout

block content
  h1= title
  p Welcome to #{title}
  p Github : https://github.com/bachirbiaich/Airbnb
  p Author : Bachir BIAICH - Sandirane KUMARASAMY
  p Available URI : /users - /booking - /apartments (CRUD)
  p Available Verbs for each URI : GET - POST - PATCH - DELETE